<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<h2>Treasure Hunters</h2>
<% for user in @team.treasure_hunters %>
  <%= user.login %>
<% end %>



<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
