body {
    font-family:  Georgia, "Constantia", "Times New Roman", Times, serif;
	margin: 0;
}

#container {
	background: url(/images/bg-repeat.png) repeat-y;
	width: 960px;
	margin: auto;
}

#header, #content {
    padding: 10px;
}

#footer {
	background: url(/images/bottom.png) no-repeat;
	width: 960px;
	height: 8px;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 110%;
}

.unwrap label {
}

a {
	color: #3e4e70;
	text-decoration: none;
	font-weight: bolder;
}

div.unwrap {
	float: left;
}

div.right-heading, div.heading {
	overflow: auto;
	cursor: hand;
}

.right-heading h2, .heading h2 {
	float: left;
	clear: right;
	padding: 7px;
}

#treasure-list {
	clear: both;
}

#treasure-new {
/*	display:none;*/
}

#treasure-list li, #hunt-list li {
	list-style: none;
	padding: 0;
	background: url(/images/hr.gif) no-repeat bottom left;
/*	background: #DDD url() repeat/repeat-x/repeat-y/no-repeat scroll/fixed top left/top center/top right/center left/center center/center right/bottom left/bottom center/bottom right/x-% y-%/x-pos y-pos;*/
	padding: 10px;
}

#hunt-list.long li {
	background: url(/images/hr-long.png) no-repeat bottom center;
}

.btn-center {
	width: 175px;
	height: 35px;
	float: right;
	padding-top: 10px;
	text-align: center;
/*	background: url(/images/btncenter.gif) no-repeat;*/
}

.btn-center input {
	background-color:#3B5998;
	border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	padding: 5px;
}


input.span-all { width: 300px;}
input.span-half { width: 90px; }

li.horiz {
	float: left;
}

form ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#map {
	float: left;
	border: 1px solid black;
	margin: 10px;
}

#add-clues {
	float: left;
}

#hunt-new {
	float: left;
	display:none;
}

.right-container {
	padding: 5px;
	float: left;
	margin-left: 10px;
	width: 35%;
}

.right-content, .right-content-body, .right-content-footer {
	overflow: hidden;
}

#treasures {
	padding: 5px;
	float: left;
	margin-left: 10px;
	width: 35%;
}

.acc-selected {
	color: black;
}

#hunts ul, #add-clues ul {
	padding-top: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

form ul li {
	padding: 5px;
}

fieldset {
	border: 0px;
}

legend {
/*	border: 1px solid black;*/
}

h1 {
    font-size: 200%;
}

.dropcap {
	margin: 0;
	float: left;
}

h2 {
	font-size: 125%;
	margin: 0px;
}

#content {
	overflow: auto;
	padding: 20px;
}

#business-card {
	float: right;
}

#user-choices ul {
	list-style: none;
	display: block;
	font-size: 150%;
}

#user-choices li {
	float: left;
	width: 30%;
}

#header {
    background: url(/images/header.png) no-repeat;
	height: 85px;
}

form > li {
	padding: 20px;
}

label {
	width: 150px;
	display: block;
}

.main_tabnav {
	color: #000;
	margin-top: 71px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px }

.main_tabnav ul {
	margin: 0px;
	padding: 0px;
}

.main_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; }

.main_tabnav li span.disabled {
/*        color: #888888;*/
	background: #948A54;
	border-bottom: none;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none;
}

.main_tabnav a, main_tabnav a.active {
	color: #000000;
    background-color: rgb(217, 225, 217);
	font-weight: bold;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none; 
}

.main_tabnav a.active {
	background-color: #948A54;
	color: #D1FFCD;
}

.main_tabnav a:hover {
	color: #FFFFFF;
	background: #CCCCCC; 
}

/*.main_tabnav a.active:hover {
	background: #FFFFFF;
	color: #000000; 
}
*/

.main_tabnav_content {
	background: #FFFFFF;
	padding: 20px;
/*	border: 2px solid black;*/
	border-top: none;
	z-index: 2;
}
