body {
    font-family:  Georgia, "Constantia", "Times New Roman", Times, serif;
	margin: 0;
}

#map-options {
/*	clear: left;*/
}

#right-root-container {
	float: left;
	width: 350px;	
}

.header {
	padding-bottom: 10px;
	border-bottom: 2px solid #cecece;
	margin-bottom: 20px;
}

#discovery {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid black;
	overflow: auto;
	border: 1px solid #95a5c6;
	background-color: #d8dfea;
}

#discovery h4 {
	margin-bottom: 20px;
}

div.discovery-cell {
	float: left;
	width: 175px;
}

h4 {
	margin: 0;
	padding: 0;
}

#business-card {
	font-family: Lucida Sans, arial;
	font-size: 1px;
}

.buttons {
	text-align: center;
}

.buttons-left {
	text-align: left;
}

#login-box {
	width: 250px;
	float: right;
	border: 1px solid #95a5c6;
	background-color: #d8dfea;
}

#hunt-progress {
	float: left;
	width: 40%;
}

#hunt-clue {
	width: 45%;
	float: left;
}

#signup-box {
	border: 1px solid #95a5c6;
	background-color: #d8dfea;
	width: 300px;
}

.left-content {
	width: 50%;
	float: left;
}

#container {
	background: url(/images/bg-repeat.png) repeat-y;
	width: 960px;
	margin: auto;
}

#header, #content {
    padding: 10px;
}

#footer {
	background: url(/images/header-notext.png) no-repeat;
	height: 100px;
}

#footer a{
	color: #000000;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 110%;
}

.chosen {
	color: #8C031C;
}

.unwrap label {
}

a {
	color: #3e4e70;
	text-decoration: none;
	font-weight: bolder;
}

div.unwrap {
	float: left;
}

div.right-heading, div.heading {
	overflow: auto;
	cursor: hand;
}

.right-heading h2, .heading h2 {
	float: left;
	clear: right;
	padding: 7px;
}

#treasure-list {
	clear: both;
}

#treasure-new {
/*	display:none;*/
}

#treasure-list li, #hunt-list li {
	list-style: none;
	padding: 0;
	background: url(/images/hr.gif) no-repeat bottom left;
/*	background: #DDD url() repeat/repeat-x/repeat-y/no-repeat scroll/fixed top left/top center/top right/center left/center center/center right/bottom left/bottom center/bottom right/x-% y-%/x-pos y-pos;*/
	padding: 10px;
}

#hunt-list.long li {
	background: url(/images/hr-long.png) no-repeat bottom center;
}

.btn-center {
	width: 175px;
	height: 35px;
	float: right;
	padding-top: 10px;
	text-align: center;
/*	background: url(/images/btncenter.gif) no-repeat;*/
}

.btn-center input {
	background-color:#3B5998;
	border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	padding: 5px;
}


input.span-all { width: 300px;}
input.span-half { width: 90px; }

li.horiz {
	float: left;
}

#geocode {
	margin-top: 10px;
	width: 300px;
}

form ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#map-container {
	float: left;
	border: 1px solid black;
	margin: 10px;
}
#map {
}

#add-clues {
	float: left;
}

#hunt-new {
	float: left;
	display:none;
}

.right-container {
	padding: 5px;
	float: left;
	margin-left: 10px;
	width: 100%;
}

.right-content, .right-content-body, .right-content-footer {
	overflow: hidden;
}

#treasures {
	padding: 5px;
	float: left;
	margin-left: 10px;
	width: 35%;
}

.acc-selected {
	color: black;
}

#hunts ul, #add-clues ul {
	padding-top: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

form ul li {
	padding: 5px;
}

fieldset {
	border: 0px;
}

legend {
/*	border: 1px solid black;*/
}

h1 {
    font-size: 200%;
}

.dropcap {
	margin: 0;
	float: left;
}

h2 {
	font-size: 125%;
	margin: 0px;
}

#content {
	overflow: auto;
	padding: 20px;
}

#business-card {
	font-size: 70%;
	float: right;
	width: 300px;
	padding: 5px;
}

#business-card a {
	color:#000000;
	font-weight:bolder;
	text-decoration:none;
}

#user-choices ul {
	list-style: none;
	display: block;
	font-size: 150%;
}

#user-choices li {
	float: left;
	width: 30%;
}

#header {
    background: url(/images/header.png) no-repeat;
	height: 85px;
}

form > li {
	padding: 20px;
}

label {
	width: 150px;
	display: block;
}

.main_tabnav {
	color: #000;
	margin-top: 71px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px }

.main_tabnav ul {
	margin: 0px;
	padding: 0px;
}

.main_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; 
}

.main_tabnav li span.disabled {
/*        color: #888888;*/
/*	background: #948A54;*/
	border-bottom: none;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none;
}

.main_tabnav a, main_tabnav a.active {
	color: #000000;
	background-color: #bdc7d8;
/*    background-color: rgb(217, 225, 217);*/
	font-weight: bold;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none; 
}

.main_tabnav a.active {
	background-color: #;
	color: #;
}

.main_tabnav a:hover {
	color: #FFFFFF;
	background-color: #bdc7d8; 
}

/*.main_tabnav a.active:hover {
	background: #FFFFFF;
	color: #000000; 
}
*/

.main_tabnav_content {
	background: #FFFFFF;
	padding: 20px;
/*	border: 2px solid black;*/
	border-top: none;
	z-index: 2;
}

.sms-reminder {
	float: right;
	overflow: visible;
	background: #fff url(/images/iphone.jpg) no-repeat 5px 5px;
	border: 1px solid #ccc;
	width: 40%;
	margin: 10px;
	padding: 10px 10px 10px 80px;
}

.sms-reminder h3 {
	
}

.short-callout {
	float: right;
	overflow: visible;
	background: #fff;
	border: 1px solid #ccc;
	width: 490px;
	margin: 10px;
	padding: 2px;
}


.left {
	float: left;
}