body {
    font-family:  Georgia, "Constantia", "Times New Roman", Times, serif;
	margin: 0;
}

div {
}

#header, #content, #bottom {
    padding: 10px;
}

#top {
    background-color: rgb(162, 178, 177)
}

#ul {

}

form ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

form ul li {
	padding: 5px;
}

form label {
}

fieldset {
	border: 0px;
}

legend {
/*	border: 1px solid black;*/
}

h1 {
    font-size: 24pt;
}

#content {
    height: 400px;
    background-color: #D1FFCD;
}

#header {
    background-color: rgb(198, 207, 213);
}

#top, #bottom {
    height: 100px;
}

form > li {
	padding: 20px;
}

label {
	width: 150px;
	display: block;
}



.main_tabnav {
	color: #000;
	margin: 13px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px }

.main_tabnav ul {
	margin: 0px;
	padding: 0px;
}

.main_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; }

.main_tabnav li span.disabled {
/*        color: #888888;*/
        background: #948A54;
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;
}

.main_tabnav a, main_tabnav a.active {
	color: #000000;
    background-color: rgb(217, 225, 217);
	font-weight: bold;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none; 
}

.main_tabnav a.active {
	background-color: #948A54;
	color: #D1FFCD;
}

.main_tabnav a:hover {
	color: #FFFFFF;
	background: #CCCCCC; 
}

/*.main_tabnav a.active:hover {
	background: #FFFFFF;
	color: #000000; 
}
*/

.main_tabnav_content {
	background: #FFFFFF;
	padding: 20px;
	border: 2px solid black;
	border-top: none;
	z-index: 2;
}
