  <ul id="treasure-list">
    <% hunt.treasures.each do |treasure| %>
      <li><%= treasure.name %></li>
    <% end %>
  </ul>
  <%=  render :partial => "/treasures/new", :locals => { :hunt => hunt } %>