<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Treasure Hunters:</b>
  <br/>
  <% for th in @hunt.users %>
    <%= gravatar_for(th, {:class => 'photo'}) unless th.email.blank? %> <%=th.login %><br/>
    Score: <%=th.score%><br/>
  <% end %>
</p>


