<form>
<ul id="treasure-new">
  <input type="hidden" id="hunt_id" value="<%=hunt.id%>">
  <li>
    <label for="name">Name</label><input class="span-all" type="text" id="name">
  </li>
  <li class="horiz">
    <div class="unwrap">
      <label for="lat">Latitude</label><input class="span-half" type="text" id="lat">
    </div>
    <div class="unwrap">
      <label for="lng">Longitude</label><input class="span-half" type="text" id="lng">
    </div>
  </li>
  <li><input type="submit" value="add treasure" id="treasure-new-submit"></li>
</ul>
</form>